idea/
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
db/data/
docker/data/
*.log
dummy/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
tmp/